{% extends 'admin/base.html' %}

{% block icon_head %}
{% endblock icon_head %}

{% block logo %}
<a href="{% url 'admin:index' %}" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">
        e<b>M</b>
    </span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">
        e<b>MAPP</b>
    </span>
</a>
{% endblock logo %}

{% block search_menu %}
{% endblock search_menu %}

{% block menu %}
    <script>
    function alert_informacao_contratacao()
    {
    alert("ATENÇÃO: Esta funcionalidade não está disponível no sistema opensource, " +
        "para contratá-la você deverá entrar em contato com " +
        "o Marcelo Vasconcellos através do e-mail marcelomdevasconcellos@gmail.com.");
    }
</script>
<ul class="sidebar-menu">
    <li class="active">
        <a id="adminIndex" href="{% url 'admin:index' %}">
        <i class="fa fa-dashboard"></i> <span>Visão geral</span>
        </a>
    </li>
    {% if perms.planejamento %}
    <li class="treeview">
        <a href="javascript:void(0)">
        <i class="fa fa-line-chart"></i>
        <span style="overflow: hidden; display: inline-block; vertical-align:top;">Planejamento</span>
        <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
        </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="#" onclick="alert_informacao_contratacao();">
                <i class="fa fa-circle-o"></i>
                PPA
                <span class="pull-right-container">
                  <small class="label pull-right bg-red">Comprar!</small>
                </span>
                </a>
            </li>
            <li>
                <a href="#" onclick="alert_informacao_contratacao();">
                <i class="fa fa-circle-o"></i>
                Orçamento
                <span class="pull-right-container">
                  <small class="label pull-right bg-red">Comprar!</small>
                </span>
                </a>
            </li>
            {% if perms.planejamento.view_projeto %}
            <li>
                <a href="{% url 'admin:planejamento_projeto_changelist' %}">
                <i class="fa fa-circle-o"></i>
                MAPP
                </a>
            </li>
            {% endif %}
        </ul>
    </li>
    {% endif %}
    {% if perms.institucional %}
    <li class="treeview">
        <a href="javascript:void(0)">
        <i class="fa fa-home"></i>
        <span style="overflow: hidden; display: inline-block; vertical-align:top;">Institucional</span>
        <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
        </span>
        </a>
        <ul class="treeview-menu">
            {% if perms.institucional.view_secretaria %}
            <li>
                <a href="{% url 'admin:institucional_secretaria_changelist' %}">
                <i class="fa fa-circle-o"></i>
                Secretarias
                </a>
            </li>
            {% endif %}
            {% if perms.institucional.view_orgao %}
            <li>
                <a href="{% url 'admin:institucional_orgao_changelist' %}">
                <i class="fa fa-circle-o"></i>
                Órgãos
                </a>
            </li>
            {% endif %}
        </ul>
    </li>
    {% endif %}

    <li class="treeview">
        <a href="javascript:void(0)">
            <i class="fa fa-book"></i>
            <span style="overflow: hidden; display: inline-block; vertical-align:top;">Instrumentos de Despesa</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="#" onclick="alert_informacao_contratacao();">
                <i class="fa fa-circle-o"></i>
                Contratos
                <span class="pull-right-container">
                  <small class="label pull-right bg-red">Comprar!</small>
                </span>
                </a>
            </li>
            <li>
                <a href="#" onclick="alert_informacao_contratacao();">
                <i class="fa fa-circle-o"></i>
                Convênios
                <span class="pull-right-container">
                  <small class="label pull-right bg-red">Comprar!</small>
                </span>
                </a>
            </li>
            <li>
                <a href="#" onclick="alert_informacao_contratacao();">
                <i class="fa fa-circle-o"></i>
                Despesas sem contrato
                <span class="pull-right-container">
                  <small class="label pull-right bg-red">Comprar!</small>
                </span>
                </a>
            </li>
        </ul>
    </li>

    <li class="treeview">
        <a href="javascript:void(0)">
            <i class="fa fa-check-square-o"></i>
            <span style="overflow: hidden; display: inline-block; vertical-align:top;">Controle</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="#" onclick="alert_informacao_contratacao();">
                <i class="fa fa-circle-o"></i>
                Contas
                <span class="pull-right-container">
                  <small class="label pull-right bg-red">Comprar!</small>
                </span>
                </a>
            </li>
            <li>
                <a href="#" onclick="alert_informacao_contratacao();">
                <i class="fa fa-circle-o"></i>
                Limites financeiros
                <span class="pull-right-container">
                  <small class="label pull-right bg-red">Comprar!</small>
                </span>
                </a>
            </li>
        </ul>
    </li>

    <li class="treeview">
        <a href="javascript:void(0)">
            <i class="fa fa-users"></i>
            <span style="overflow: hidden; display: inline-block; vertical-align:top;">Conselho Gestor</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="#" onclick="alert_informacao_contratacao();">
                <i class="fa fa-circle-o"></i>
                Membros
                <span class="pull-right-container">
                  <small class="label pull-right bg-red">Comprar!</small>
                </span>
                </a>
            </li>
            <li>
                <a href="#" onclick="alert_informacao_contratacao();">
                <i class="fa fa-circle-o"></i>
                Reuniões
                <span class="pull-right-container">
                  <small class="label pull-right bg-red">Comprar!</small>
                </span>
                </a>
            </li>
            <li>
                <a href="#" onclick="alert_informacao_contratacao();">
                <i class="fa fa-circle-o"></i>
                Deliberações
                <span class="pull-right-container">
                  <small class="label pull-right bg-red">Comprar!</small>
                </span>
                </a>
            </li>
        </ul>
    </li>

    <li class="treeview">
        <a href="javascript:void(0)">
            <i class="fa fa-money"></i>
            <span style="overflow: hidden; display: inline-block; vertical-align:top;">Execução</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="#" onclick="alert_informacao_contratacao();">
                <i class="fa fa-circle-o"></i>
                Acompanhamento Físico
                <span class="pull-right-container">
                  <small class="label pull-right bg-red">Comprar!</small>
                </span>
                </a>
            </li>
            <li>
                <a href="#" onclick="alert_informacao_contratacao();">
                <i class="fa fa-circle-o"></i>
                Pré-empenho
                <span class="pull-right-container">
                  <small class="label pull-right bg-red">Comprar!</small>
                </span>
                </a>
            </li>
            <li>
                <a href="#" onclick="alert_informacao_contratacao();">
                <i class="fa fa-circle-o"></i>
                Pré-pagamento
                <span class="pull-right-container">
                  <small class="label pull-right bg-red">Comprar!</small>
                </span>
                </a>
            </li>
        </ul>
    </li>

    {% if perms.contrib %}
    <li class="treeview">
        <a href="javascript:void(0)">
            <i class="fa fa-table"></i>
            <span style="overflow: hidden; display: inline-block; vertical-align:top;">Cadastros Básicos</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            {% if perms.contrib.view_projetotipo %}
            <li>
                <a href="{% url 'admin:contrib_projetotipo_changelist' %}">
                <i class="fa fa-circle-o"></i>
                Tipos de projeto
                </a>
            </li>
            {% endif %}
            {% if perms.contrib.view_unidadetipo %}
            <li>
                <a href="{% url 'admin:contrib_unidadetipo_changelist' %}">
                <i class="fa fa-circle-o"></i>
                Tipos de unidade
                </a>
            </li>
            {% endif %}
        </ul>
    </li>
    {% endif %}
    {% if perms.auth %}
    <li class="treeview">
        <a href="javascript:void(0)">
        <i class="fa fa-users"></i>
        <span style="overflow: hidden; display: inline-block; vertical-align:top;">Controle de Acesso</span>
        <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
        </span>
        </a>
        <ul class="treeview-menu">
            {% if perms.auth.view_group %}
            <li>
                <a href="{% url 'admin:auth_group_changelist' %}">
                <i class="fa fa-circle-o"></i>
                Grupos
                </a>
            </li>
            {% endif %}
            {% if perms.users.view_user %}
            <li>
                <a href="{% url 'admin:users_user_changelist' %}">
                <i class="fa fa-circle-o"></i>
                Usuários
                </a>
            </li>
            {% endif %}
        </ul>
    </li>
    {% endif %}
 </ul>
{% endblock menu %}