{% extends 'admin/base.html' %}

{% block icon_head %}
{% endblock icon_head %}

{% block logo %}
<a href="{% url 'admin:index' %}" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini">
        LSA
    </span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg">
        <b>
            e-MAPP
        </b>
    </span>
</a>
{% endblock logo %}

{% block search_menu %}
{% endblock search_menu %}

{% block menu %}
<ul class="sidebar-menu">
    <li class="active">
        <a id="adminIndex" href="{% url 'admin:index' %}">
        <i class="fa fa-dashboard"></i> <span>Visão geral</span>
        </a>
    </li>
    <li class="treeview">
        <a href="javascript:void(0)">
        <i class="fa fa-line-chart"></i>
        <span style="overflow: hidden; display: inline-block; vertical-align:top;">Planejamento</span>
        <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
        </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="{% url 'admin:planejamento_projeto_changelist' %}">
                <i class="fa fa-circle-o"></i>
                Projetos
                </a>
            </li>
        </ul>
    </li>
    <li class="treeview">
        <a href="javascript:void(0)">
        <i class="fa fa-home"></i>
        <span style="overflow: hidden; display: inline-block; vertical-align:top;">Institucional</span>
        <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
        </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="{% url 'admin:institucional_secretaria_changelist' %}">
                <i class="fa fa-circle-o"></i>
                Secretarias
                </a>
            </li>
            <li>
                <a href="{% url 'admin:institucional_orgao_changelist' %}">
                <i class="fa fa-circle-o"></i>
                Órgãos
                </a>
            </li>
        </ul>
    </li>

    <li class="treeview">
        <a href="javascript:void(0)">
        <i class="fa fa-table"></i>
        <span style="overflow: hidden; display: inline-block; vertical-align:top;">Cadastros Básicos</span>
        <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
        </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="{% url 'admin:contrib_projetotipo_changelist' %}">
                <i class="fa fa-circle-o"></i>
                Tipos de projeto
                </a>
            </li>
            <li>
                <a href="{% url 'admin:contrib_unidadetipo_changelist' %}">
                <i class="fa fa-circle-o"></i>
                Tipos de unidade
                </a>
            </li>
        </ul>
    </li>

    <li class="treeview">
        <a href="javascript:void(0)">
        <i class="fa fa-users"></i>
        <span style="overflow: hidden; display: inline-block; vertical-align:top;">Controle de Acesso</span>
        <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
        </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="{% url 'admin:auth_group_changelist' %}">
                <i class="fa fa-circle-o"></i>
                Grupos
                </a>
            </li>
            <li>
                <a href="{% url 'admin:users_user_changelist' %}">
                <i class="fa fa-circle-o"></i>
                Usuários
                </a>
            </li>
        </ul>
    </li>
 </ul>
{% endblock menu %}